<h1 class="cover-heading">About Me</h1>
<p class="lead">
  B.S. in information technologies with an emphasis on computer programming in May 2007.  Languages included were C++,
  C#, Visual Basic.  Currently studying Ruby on Rails, HTML5, and CSS3 with flexbox.
  My goal is to deliver a well rounded project and to ensure that each stage of the project is fully communicated.
</p>