<h1>Let's work together</h1>

<div class="row">
  <div class="col-md-6">
    <h3>Office address</h3>
    <p>212 N Parkway, Suite A, Pekin, IL 61554</p>

    <h3>Phone</h3>
    <p><%= number_to_phone "3096427392" %></p>

    <h3>Email</h3>
    <p><%= mail_to 'johnbeckhoff@outlook.com', 'johnbeckhoff@outlook.com', subject: 'Portfolio Contact' %></p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3030.626356330933!2d-89.61916848458822!
    3d40.57192777934728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880af6a2956cf8b3%3A0x119dd8140ba112c
    c!2s212%20N%20Parkway%20Dr%20Apt%20A%2C%20Pekin%2C%20IL%2061554!5e0!3m2!1sen!2sus!4v1576916698270!5m2!1sen!2sus"
            width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>